<tr class='message'>
  <td><%= request.trap_id %></td>
  <td><%= request.created_at%></td>
  <td><%= request.remote_ip %></td>
  <td><%= request.method %></td>
  <td><%= request.scheme %></td>
  <td><%= request.query_string %></td>
  <td><%= request.query_params %></td>
  <td><%= request.cookies %></td>
  <td><%= request.headers %></td>
</tr>
